body {
    background-color: lightblue;
}

ul#summer-drinks li {
    font-size: 12px;
    color: yellow;
    font-weight: normal;
}

.favorite {
    color: blue;
    font-weight: bold;
}

/*
style id class/sudo/ tag
0	  1	 0			 2
0	  0  1    		 0
*/