* {
    margin: 0;
    padding: 0;
}

#header {
    border: 1px solid blue;
    /*height: 30px;*/
}

.nav {
    padding: 20px;
    list-style: none;
}

.nav li {
    float: left;
    margin-right:10px;
    background-color: blue;
    padding:2px 5px;
}

.caret {
    display: none;
}

#wrapper {
    /*border: 1px solid green;*/
    /*height: 70px;*/
}

#sidebar {
    width: 29.296875%; /* 300/1024 * 100 = 29.296875 */
    border: 1px solid tomato;
    height: 30px;
    float: left;
    padding:10px;
    margin-right:0.976562% /* 10 / 1024 * 100 = 0.9765625*/;
    box-sizing: border-box;
}

#main {
    float: left;
    padding:10px;
    border: 1px solid darkred;
    height: 230px;
    width: 69.7265625%; /* 1024 - 300: 69.7265625*/
    box-sizing: border-box;
}

#footer {
    clear: both;
    border: 1px solid #3e6b80;
    height: 30px;
}

.image_style {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.float_description, .position_description {
    background-color: rgb(232, 234, 160);
    margin-top:10px;
    border: 1px solid #000;
}

.clearfix {
    clear: both;
}

@media screen and (max-width: 780px) {
    #sidebar, #main {
        width: 100%;
    }
    #sidebar {
        background-color: blue;
    }
    #main {
        background-color: yellowgreen;
    }

    .nav {
        padding: 20px;
        list-style: none;
        /*display: none;*/
    }
    .nav li {
        margin-right:10px;
        background-color: blue;
        padding:2px 5px;
        float: none;
    }

    .caret {
        display: block;
    }

}