.btn_small_green {
    width: 50px;
    height: 30px;
    background-color: green;
    border: 1px solid blue;
}

.btn_small_green:hover {
    background-color: white;
    border: 1px solid black;
}

.btn_meduim_green {
    width: 100px;
    height: 50px;
    background-color: green;
    border: 1px solid blue;
}

.btn_large_green {
    width: 150px;
    height: 80px;
    background-color: green;
    border: 1px solid blue;
}

.btn_small_blue {
    width: 50px;
    height: 30px;
    background-color: blue;
    border: 1px solid yellow;
}

.btn_meduim_blue {
    width: 100px;
    height: 50px;
    background-color: blue;
    border: 1px solid yellow;
}

.btn_large_blue {
    width: 150px;
    height: 80px;
    color: white;
    background-color: blue;
    border: 1px solid yellow;
}

.btn_small_blue {
    width: 50px;
    height: 30px;
    background-color: blue;
    border: 1px solid yellow;
}

.btn_meduim_blue {
    width: 100px;
    height: 50px;
    background-color: blue;
    border: 1px solid yellow;
}

span {
    margin-right:20px;
}
