div {
    margin-bottom: 10px;
}

.btn {
    width: 50px;
    height: 30px;
    border: 1px solid blue;
    padding: 3px 6px;
    text-align: center;
    cursor: pointer;
}

.btn_small {
    width: 50px;
    height: 30px;
    padding: 1px 3px;
}

.btn_medium {
    width: 100px;
    height: 30px;
    border-width: 2px;
    padding: 5px 8px;
}

.btn_large {
    width: 150px;
    height: 70px;
    border-width: 3px;
    padding: 10px 12px;
}

.btn_green {
    background-color: green;
    border-color: blue;
}

.btn_green:hover {
    background-color: blue;
    border-color: green;
}

.btn_blue {
    background-color: blue;
    border-color: green;
}

.btn_blue:hover {
    background-color: green;
    border-color: blue;
}