* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "my_font";
    src: url('../fonts/Yekan.eot') format('eot'), /*IE6–8*/
    url('../fonts/Yekan.ttf') format('truetype'), /*Saf3—5, Chrome4+, FF3.5, Opera 10+*/
    url('../fonts/Yekan.woff') format('woff');/*FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

body {
    /*padding-top:50px;*/
    /*padding-left:50px;*/
    direction: rtl;
    text-align: right;
}

div {
    font-family: "my_font";
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    border-radius:20px;

    padding:5px;
    /*height: 100px;*/
    /*width: 84.325396%; !* 850 / 1008 * 100 = 84.32539682539683 *!*/
    border: 2px solid #000;
    /*border-top: 5px dotted blue;*/
    /*border-radius: 0 50% 0 100%;*/
    /*border-top-color: transparent;*/
    /*height: 800px;*/
    /*background-color: #ff00ff;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    color: blue;
    text-align: left;
    /*text-decoration: underline;*/
}

a {
    /*border: 2px solid #000;*/
    /*text-decoration: none;*/
}

span {
    border: 1px solid #000;
    margin-right:20px;
    padding: 20px;
}