[class^=col-], .container, .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

/*.col-lg-1.center-block, .col-lg-10.center-block, .col-lg-11.center-block, .col-lg-12.center-block,*/
/*.col-lg-2.center-block, .col-lg-3.center-block, .col-lg-4.center-block, .col-lg-5.center-block,*/
/*.col-lg-6.center-block, .col-lg-7.center-block, .col-lg-8.center-block, .col-lg-9.center-block*/

[class^=col-].center-block {
    float: none;
}